fastapi==0.104.1
uvicorn[standard]==0.24.0
# pydantic==2.4.2
# pydantic-settings
# pydantic[email]==2.4.2
python-multipart==0.0.6
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
PyMySQL==1.1.0
aiofiles==23.2.1
requests==2.31.0
python-dotenv==1.0.1

# Attention：
# pydantic==2.4.2
# pydantic-settings
# pydantic[email]==2.4.2
# 这三个包直接pip install -r requirements.txt会卡住
# 用下面两个命令单独安装
#pip install -i https://mirrors.aliyun.com/pypi/simple pydantic
#pip install -i https://mirrors.aliyun.com/pypi/simple pydantic_settings